@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* http://192.168.234.33:3000 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}

.instaStyle{
  border: 1px solid brown;
}
.instaStyle input{ 
  width: auto;
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 1em; 
}
 
.instaStyle ul{
  padding-left: 18px;
}

.profileStyle{
  display: flex;
  align-items: center;
}

.profileStyle img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid black;


}
.followersStyle{
  font-weight: bolder;
}
.followersStyle li {
  list-style: none;
  margin-top: 3px;
  margin-bottom: 10px;
}
.but{
  background: transparent;
  
  float: right;
  margin-right: 10px;
}

.followersStyle img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}